.main-div{
    padding: 10px 50px;
}

/* Header */
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
.header button{
    padding: 4px 8px;
    border: 1px solid lightgray;
    border-radius: 3px;
    box-shadow: 4px 4px 8px lightgray;
    cursor: pointer;
}

/* Navbar */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
}
.navbar .links{
    display: flex;
    padding: 20px;
}
.navbar .links p{
    margin: 5px;
    cursor: pointer;
}
.navbar .links p:hover{
    color: red;
}
.navbar .links .active{
    color: red;
    border-bottom: 2px solid red;
}
.navbar .filters{
    display: flex;
    position: relative;
}
.navbar .filters .filter-box{
    width: 350px;
    height: auto;
    padding: 10px;
    border: 1px solid red;
    position: absolute;
    right: 30px;
    top: 40px;
    z-index: 100;
    background-color: white;
    display: none;
}
.navbar .filters .show-filters{
    display: block;
}
.navbar .filters .filter-box h4{
    border-bottom: 1px solid lightgrey;
}
.navbar .filters .filter-box p{
    color: gray;
    font-size: 14;
    margin: 1px;
}
.navbar .filters .filter-box .card-type, 
.navbar .filters .filter-box .card-holder,
.navbar .filters .filter-box .buttons{
    padding: 0 10px;
}

.navbar .filters .filter-box .buttons{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar .filters .filter-box .buttons button{
    width: 45%;
    height: 25px;
    border: none;
    background-color: red;
    border-radius: 4px;
    color: white;
}

/* Cards */
.card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
}

.card-container .card{
    width: 45%;
    max-width: 450px;
    min-width: 350px;
    margin: 5px;
    padding: 10px 20px;
    border: 1px solid lightgray;
    border-radius: 4px;
    box-shadow: 4px 4px 8px lightgray;
}

.card-container .card .card-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.card-container .card .card-top p{
    color: gray;
    font-size: 14px;
}
.card-container .card img{
    max-width: 30px;
    border-radius: 50%;
}

.card-container .card .card-type{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.card-container .card .card-type p{
    color: gray;
    font-size: 10px;
    font-weight: 500;
}
.card-container .card .card-type p:first-child {
    text-transform: uppercase;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 1px 7px;
}


.card-container .card .spent-bar{
    display: flex;
}
.card-container .card .spent-bar hr {
    margin-top: 10px;
    height: 5px;
    border: 0;
    border-radius: 10px 0 0 10px
  }
.card-container .card .spent-bar hr:nth-child(2){
    border-radius: 0 10px 10px 0
  }

.card-container .card .balance{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-container .card .balance p{
    font-size: 14px;
}

.card-container .card .balance .dot {
    height: 10px;
    width: 10px;
    margin-right: 10px;
    border-radius: 50%;
    display: inline-block;
  }